body{
    background: #fafafa;

}
@font-face {
    font-family: SFDistant-Galaxy;
    src: url(../fonts/sf_distant_galaxy/SF-Distant-Galaxy.ttf);
}

.yoda{
    width: 60px;
    height: 60px;
    background-image: url(../img/yoda.png);
    position: fixed;
    bottom: 0;
}
.vader{
    width: 60px;
    height: 60px;
    background-image: url(../img/darth-vader.png);
    position: absolute;
    bottom: 0;
}
.game-over{
    display: block;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 200px;    
}

.btn-recomecar{
    border: solid 1px gray;
    width: 150px;
    height: 60px;
    margin: 20px;
    font-family: 'SFDistant-Galaxy';
    font-size: 18px;
    background-color: 	#A9A9A9;
    cursor: pointer;
    border-radius: 10%;
}
.btn-recomecar:hover{
    background-color: 	#D3D3D3;

}
@keyframes slideright{
    from {
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 0;
    background-image: url(../img/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 100%;
    height: 200px;
}